configuration {
  font: "Fira Code Nerd Font 10";
  show-icons: true;
  icon-theme: "Gruvbox-Material-Dark";
  cycle: true;
  disable-history: false;
  modi: "drun";
  display-drun: "apps";
}
@import "~/.config/rofi/themes/gruvbox-dark.rasi"
